<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News APP</title>
</head> 
<body>
    <h1>New App</h1>

    <h2>Search Country</h2>

    <form action="" method="get">
        <input type="text" name="country">
        <button type="submit" value="Search">Search</button>
    </form>
    <br>
    <br>

    <h2>Search Language</h2>

    <form action="" method="get">
        <input type="text" name="language">
        <button type="submit" value="Search">Search</button>
    </form>
    <br>
    <br>


    <h2>Search Category</h2>

    <form action="" method="get">
        <input type="text" name="category">
        <button type="submit" value="Search">Search</button>
    </form>



    {% for i in articles %}
    
    <img src="{{ i.urlToImage }}" alt="" height="200px" width="200px">
            <p>{{ i.author }}</p>
            <p>{{ i.title }}</p>
            <p>{{ i.description }}</p>
            
            <a href="{{ i.url }}" target="_blank">Go Full news</a> 
            <small> published at: {{ i.publishedAt }}</small>

    {% endfor %}

</body>
</html>
